@import "reset.css";

@import "fonts.css";

@import "variables.css";

:root
{
    --size-widht-full: 450px;
    --size-widht-mob: 270px;
    --size-height-full: 50px;
    --size-height-mob: 34px;
    --border: 1px;
    --border-focus: 2px;
}

.item-details
{
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    font-family: var(--gothampromed);

    @media screen and (max-width: 320px)
    {
        width: 320px;
        height: 900px;
        flex-wrap: nowrap;
    }

    *
    {
        box-sizing: border-box;
    }
}

.item-category, .item-name, .item-code, .item-price,
.item-size, .item-color, .select-size, .select-color,
.item-description
{
    margin-left: 50px;

    @media screen and (max-width: 320px)
    {
        margin-left: 20px;
    }
}

.category
{
    width: 550px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--mercury);

    @media screen and (max-width: 320px)
    {
        width: 320px;
    }

    .item-category
    {
        align-self: center;
        color: var(--shark);
        font-size: 14px;
    }

    .close
    {
        width: 54px;
        height: 50px;
        background: url("/images/close.svg");
        cursor: pointer;
    }
}

.item-name
{
    margin-top: 40px;
    color: var(--shark);
    font-size: 34px;
    line-height: 30px;
}

.item-code
{
    color: var(--gray-chateau);
    font-family: var(--soursesanproreg);
    font-size: 14px;
    line-height: 35px;
}

.item-price
{
    margin: 25px * 55px;
    color: var(--chambray);
    font-size: 22px;
    line-height: 21px;

    @media screen and (max-width: 320px)
    {
        margin-bottom: 40px;
    }
}

.item-size, .item-color
{
    margin-bottom: 10px;
    color: var(--shark);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 11px;
}

.item-size
{
    display: inline-block;
    padding-right: 5px;

    @media screen and (max-width: 320px)
    {
        margin-bottom: 25px;
    }
}

.size-details
{
    text-decoration: none;
    color: var(--chambray);
    font-family: var(--soursesanproreg);
    font-size: 12px;
}

.select-size, .select-color
{
    input
    {
        display: none;
    }
}

.select-size
{
    width: var(--size-widht-full);
    height: var(--size-height-full);
    display: flex;
    margin-bottom: 40px;
    border: var(--border) solid var(--mercury);

    @media screen and (max-width: 320px)
    {
        width: var(--size-widht-mob);
        height: var(--size-height-mob);
        margin-bottom: 50px;
    }

    .size
    {
        flex: 1;
        display: flex;

        .size-box
        {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -var(--border);
            box-sizing: initial;
            color: var(--shark);
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }

        &:not(:last-of-type) .size-box
        {
            border-right: var(--border) solid var(--mercury);
        }

        input[type=radio]:checked + .size-box
        {
            height: calc(var(--size-height-full) - 2 * var(--border-focus));
            margin-top: -var(--border);
            color: var(--chambray);
            border: var(--border-focus) solid var(--chambray);

            @media screen and (max-width: 320px)
            {
                height: calc(var(--size-height-mob) - 2 * var(--border-focus));
            }
        }
    }
}

.select-color
{
    width: 53px;
    height: 24px;
    display: flex;
    justify-content: space-between;

    .color
    {
        width: 24px;
        display: flex;

        .color-box
        {
            flex: 1;
            cursor: pointer;
        }

        &:nth-of-type(1) .color-box
        {
            background: var(--cornflower-lilac);
        }

        &:nth-of-type(2) .color-box
        {
            background: var(--swirl);
        }

        input[type=radio]:checked + .color-box
        {
            background-image: url("/images/shape.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.item-description
{
    margin-top: 35px;
    color: var(--abbey);
    font-family: var(--soursesanproreg);
    font-size: 14px;
    line-height: 22px;

    @media screen and (max-width: 320px)
    {
        width: 270px;
        margin-bottom: 35px;
    }
}

.add-bag
{
    max-width: 550px;
    height: 57px;
    padding-right: 30px;
    background: var(--chambray);
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    @media screen and (max-width: 320px)
    {
        order: 1;
    }
}

.item-image
{
    max-width: 450px;
    max-height: 600px;
    position: relative;

    @media screen and (max-width: 320px)
    {
        margin-left: 20px;
        margin-right: 25px;
        margin-bottom: 30px;
    }

    .image-main
    {
        width: 100%;
        height: 100%;

        @media screen and (max-width: 320px)
        {
            width: 196px;
            height: 261px;
        }
    }

    .image-small
    {
        width: 70px;
        height: 65px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url("/images/preview_photo.png");
        background-size: 100%;
        background-position: center center;
        border-bottom: 2px solid var(--chambray);

        @media screen and (max-width: 320px)
        {
            left: initial;
            top: 0;
            right: 0;
        }
    }
}

.item-details::backdrop
{
    background: var(--mercury);
}
