:root
{
    --mercury: #e9e9e9;
    --shark: #252a2d;
    --gray-chateau: #a4a7a9;
    --chambray: #384d9d;
    --d-ocre: #ffafab;
    --d-grey: #d2ccc3;
    --abbey: #484a4b;
    --gothampromed: "GothamProMedium" , sans-serif;
    --soursesanproreg: "SourceSansProRegular" , sans-serif;
    --size-widht-full: 450px;
    --size-widht-mob: 270px;
    --size-height-full: 50px;
    --size-height-mob: 34px;
    --border: 1px;
    --border-focus: 2px;
}
