button, figure
{
    all: unset;
}

input[type=submit]
{
    border: none;
    padding: 0;
    margin: 0;

    &:focus
    {
        outline: none;
    }
}

body, h1, h2, h3
{
    margin: 0;
}

dialog
{
    padding: 0;
    border: 0;
}
