:root
{
    --mercury: #e9e9e9;
    --shark: #252a2d;
    --gray-chateau: #a4a7a9;
    --chambray: #384d9d;
    --cornflower-lilac: #ffafab;
    --swirl: #d2ccc3;
    --abbey: #484a4b;
    --heading-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    --paragraph-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
